body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 25px;
}

.jobs {
  width: 80%;
  flex-direction: column;
}

.job {
  width: 100%;
  margin: 20px 0;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-panel:hover {
  cursor: pointer;
  color: #666666;
}

.links {
  display: flex;
  justify-content: space-between;
}

.description {
  word-wrap: break-word;
}

.test {
  display: flex;
  flex-direction: row;
}

.company-logo {
  width: 250px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}